doctype html.uk-height-1-1 uk-touch
html
	head
		title= title
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
		link(rel='stylesheet', href='/stylesheets/uikit.almost-flat.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body.uk-height-1-1
		block content

		div.gesture
			img#pose(src="images/unknown.png" alt="")

		script(type='text/javascript', src='/javascripts/jquery-1.12.0.min.js')
		script(type='text/javascript', src='/javascripts/uikit.min.js')
		script(type='text/javascript', src='/javascripts/socket.io.js')
		script(type='text/javascript', src='/javascripts/myo.js')
		script(type='text/javascript', src='/javascripts/morse.js')
		script(type='text/javascript', src='/javascripts/app.js')
		script(type='text/javascript', src="http://code.responsivevoice.org/responsivevoice.js")

