body {
	color: #fff;
	background  : #121414 url('../images/dot_grid.png');
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
}

a {
	color: #00B7FF;
}


#morse {
	font-size: 10em;
}

.hints {
	list-style: none;
	display: inline-block;
	margin-left: 1.5em;
}

.hints-wrapper {
	top: 2em;
	right: 2em;
	position: absolute;
}

.hint {
	color: #fff;
	margin-bottom: 0.3em;
}
	
#suggestions {
	list-style: none;	
}

.suggestion {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	margin-bottom: 0.6em;
}

.suggestion-active {
	color: #337ab7 !important;
}

.suggestions-wrapper {
	position: absolute;
	top: 2em;
	left: 2em;
}

#decrypt {
	font-size: 1.5em;
}


#pose{
	position: absolute;
	bottom: 0;
	width : 100px;
	margin: 1em;
	right: 0;
}

.decrypt-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}


.separator {
	padding-left: 2em;
}